.bg{
    background:#0000cc;
}
.b2
{
    background:#e0e0e0;
}
.b3{
    background:#001653;
}

.card {
    background: url("{{ asset('img/student.png')}}") !important;
    background-repeat: no-repeat !important;
  
    background-position: center !important;
  }